@import "tailwindcss";

@theme {
    --color-primary-300: #FFCC21;
    --color-primary-400: #FF963C;
    --color-primary-500: #EA6C00;
    --color-secondary-300: #8FE9D0;
    --color-tertiary: #414141;
    --color-dark-600: #2E2E2E;
    --color-dark-500: #414141;
    --color-dark-400: #777777;
}

@layer utilities {
    .container {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 2rem;

        @media screen and (min-width: 1280px) {
            padding: 0 160px;
        }
    }
}

@layer base {
    body {
        font-family: 'Inter', sans-serif;
    }
}

@font-face {
    font-family: 'Hiragino Kaku Gothic Pro';
    src: url('/fonts/hiragino-kaku-gothic-pro.otf') format('opentype');
}

@layer components {
    body {
        font-family: 'Inter', sans-serif;
    }

    .font-hkgp {
        font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
    }

    .bg-gradient-primary {
        background: linear-gradient(155.89deg, var(--color-primary-300), var(--color-primary-500));
    }

    .btn-primary {
        background: linear-gradient(32.95deg, var(--color-primary-300), var(--color-primary-500));
        height: 56px;
        border-radius: 4px;
        font-weight: 300;
        color: white;
        width: 296px;
        font-size: 18px;
    }

    .polygon {
        clip-path: polygon(50% 1%, 100% 28%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    }

    canvas {
        max-width: 100%;
    }
}